@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .blue-button {
    @apply bg-[#002d75] hover:bg-[#0246b3] p-1 pl-4 pr-4 rounded shadow-xl text-center
  }

  .large-blue-button {
    @apply bg-[#002d75] hover:bg-[#0246b3] p-5 pl-4 pr-4 rounded-3xl shadow-xl text-center
  }

  .red-button {
    @apply bg-red-600 hover:bg-red-400 p-1 pl-4 pr-4 rounded shadow-xl text-center
  }

  .input { 
    @apply rounded p-1
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.main-background {
  background-image: linear-gradient(
  60deg,
  #002d75 0%,
  hsl(238deg 24% 64%) 50%,
  hsl(0deg 0% 100%) 100%
)
}

.shadow-right {
-webkit-box-shadow: 10px 2px 30px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 2px 30px 0px rgba(0,0,0,0.75);
box-shadow: 10px 2px 30px 0px rgba(0,0,0,0.75);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
